<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Masonite 4</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <form method="POST" action="{{ route('user.create') }}">
    {{ crsf_token }}

    <input type="text" name="name" />

    <buttom type="submit">登録</buttom>
  </form>
</body>

</html>