@extends 'base.html'

@block content
@if session().has('errors'):
<div class="bg-yellow-400">
  <div class="bg-yellow-200 text-yellow-800 px-4 py-2">
    <ul>
      @for key, error_list in session().get('errors').items():
        @for error in error_list
          <li>{{ error }}</li>
        @endfor
      @endfor
    </ul>
  </div>
</div>
@endif

<main>
  <form method="POST" action="{{ route('user.store') }}">
    {{ csrf_field }}

    <div>
      <label for="name">名前</label>
      @if session().has('name'):
        <input type="text" name="name" value="{{ session().get('name') }}" />
      @elif user:
        <input type="text" name="name" value="{{ user.name }}" />
      @else
        <input type="text" name="name" />
      @endif
    </div>

    <div>
      <label for="email">メールアドレス</label>
      @if session().has('email'):
        <input type="email" name="email" value="{{ session().get('email') }}" />
      @elif user:
        <input type="email" name="email" value="{{ user.email }}" />
      @else
        <input type="email" name="email" />
      @endif
    </div>

    <div>
      <label for="password">パスワード</label>
      <input type="password" name="password" />
    </div>

    <div>
      <label for="password">パスワード（確認）</label>
      <input type="password" name="password_confirm" />
    </div>

    <button type="submit">登録</button>
  </form>
</main>
@endblock
